<h2>New appointment</h2>

<%= render "form.html", changeset: @changeset, practitioner: @practitioner, practitioner_id: @practitioner_id,
                        action: appointment_path(@conn, :create) %>

<%= link "Back", to: appointment_path(@conn, :index) %>
