<h2>Edit shoeing</h2>

<%= render "form.html", changeset: @changeset, horses: @horses, practitioner: @practitioner,
                        action: shoeing_path(@conn, :update, @shoeing) %>

<%= link "Back", to: shoeing_path(@conn, :index) %>
