<h2>Edit osteopath</h2>

<%= render "form.html", changeset: @changeset, horses: @horses, practitioner: @practitioner,
                        action: osteopath_path(@conn, :update, @osteopath) %>

<%= link "Back", to: osteopath_path(@conn, :index) %>
