<h2>Edit horse</h2>

<%= render "form.html", changeset: @changeset, races: @races,
                        action: horse_path(@conn, :update, @horse) %>

<%= link "Back", to: horse_path(@conn, :index) %>
