<h2>New practitioner</h2>

<%= render "form.html", changeset: @changeset,
                        action: practitioner_path(@conn, :create) %>

<%= link "Back", to: practitioner_path(@conn, :index) %>
