<h2>Edit vaccine</h2>

<%= render "form.html", changeset: @changeset, horses: @horses, practitioner: @practitioner,
                        action: vaccine_path(@conn, :update, @vaccine) %>

<%= link "Back", to: vaccine_path(@conn, :index) %>
